<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Peliculas asincrónicas</title>
    <link
      href="https://fonts.googleapis.com/css?family=Dosis:400,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style2.css" />
  </head>
  <body>
    
    <div id="root">
      <h1 class="main">Listado de Películas</h1>
      <div class="container"></div>
    </div>
    <script src="js/funciones/main.js"></script>
 
   
  </body>
</html>
