<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="css/style2.css"> <!-- Agrega tu archivo de estilos aquí -->
</head>
<body>
    <div class="container">
        <h1 class="subtitulo">Bienvenido</h1>
        <p>Nuestra página de cine te entregará la posibilidad de ver las películas de nuestra base pero, además...</p>
        <p>CREAR PELÍCULAS.</p>
        <p>EDITAR Y ELIMINAR.</p>
        <p>Esperamos que tu estadía en nuestro sitio sea placentera</p>
      
    </div>

    
    <a href="/listado" class="botonPeliculas">Ver Listado de Películas</a>

    <script src="js/index.js"></script>
</body>
</html>