<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="css/style1.css"> <!-- Agrega tu archivo de estilos aquí -->
</head>
<body>
    
    <div class="container">
    
            <img src="/img/peliculas.png" class="img-index" style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.75;">

        <div class="header">
            
            <h1 class="subtitulo"><img src="img/logo-DH.png" alt="Logo" class="logo" style="margin-left: 10px;"> Bienvenido</h1>
        </div>
        <div class="content">
            <p style="padding-top: 10px;">Nuestra página de cine te entregará la posibilidad de ver el información sobre todas las películas de nuestra base pero, además...</p>
            <p style="padding-top: 10px;">CREAR PELÍCULAS, EDITAR Y ELIMINAR.
                Esperamos que tu estadía en nuestro sitio sea placentera
            </p>
        </div>
        <a href="/listado" class="botonPeliculas">Ver Listado de Películas</a>
    </div>
    <script src="js/index.js"></script>
</body>
</html>

